spring:
  datasource:
    url: jdbc:mysql://localhost:3306/pasila?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: ssafy
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create # create / none
    properties:
      hibernate:
        #        show_sql: true
        format_sql: true
        default_batch_fetch_size: 100 # 100~1000 권장

logging.level:
  org.hibernate.SQL: debug
#  org.hibernate.type: trace

openai:
  model: gpt-3.5-turbo
  api:
    url: https://api.openai.com/v1/chat/completions
    key:
    id:

server:
  port: 80