$main: #ff495c;
$yellow: #f4ff19;
$orange: #ff8000;
$gray: #cecece;
$dark: #3c3c3c;
$light-dark: #707070;
$soft-pink: #ffd5d9;

// font
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif;
}

$fs-1: 16px;
$fs-2: 18px;
$fs-3: 20px;
$fs-4: 32px;
$fs-5: 40px;

@mixin font-factory($size, $weight, $color: $dark) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

//flex-box - default: row
@mixin flex-box($align: center, $justify: center, $direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

//박스 만들기
@mixin box($width, $height, $ba-color, $radius: 0, $margin, $padding) {
  width: $width;
  height: $height;
  background-color: $ba-color;
  border-radius: $radius;
  margin: $margin;
  padding: $padding;
}
